button
{
    margin-top: 100px;
    margin-left: 100px;
    width: 150px;
    height: 30px;
    border: 2px solid rgb(94, 210, 94);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}


@keyframes myAnim
{
    from{
        opacity: .1;
    }
    to{
        opacity: 1;
    }
}


button:hover
{
    background-color: rgb(245, 172, 230);
    border: 2px solid rgb(113, 13, 195);
    color: black;
    box-shadow: .5px .5px 10px .5px rgb(113, 13, 195);

    animation-name: myAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
